<a href="https://colab.research.google.com/github/JDinizfv/CAGED_project/blob/main/Projeto_CAGED.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![image.png]()

TESTE PARA VAGA DE ANALISTA DE BI (REDEINOVA)

Objetivos:

1. Acesse: ftp://ftp.mtps.gov.br/pdet/microdados/CAGED/  ou para entender melhor a base: http://pdet.mte.gov.br/microdados-rais-e-caged
2. Realize a Extrao de dados de 2019 e 2018, filtre Capitais do Brasil. Informe o mecanismo optado pela extrao e possveis alternativas.
3. Realize o tratamento dos dados voltado para anlise que ser solicitado  frente que promova a melhor performance. Informe a ferramenta utilizada caso no seja o Power BI e apresente as etapas aplicadas.
4. Se achar necessrio, crie um ambiente de armazenamento e detalhe a estrutura de tal soluo  a ferramenta utilizada.
5. Construa um modelo relacional (ROLAP) no Power BI ou em SSAS.
6. Construa as mtricas de Admitidos, Desligados e Saldo. Mtricas adicionais podem ser includas conforme sua capacidade analtica julgar necessria, no mximo 4 adicionais se houver.
7. Avalie as mtricas nas dimenses de: Capitais do Brasil, Regio do Brasil, Atividade econmica e suas hierarquias, Atividade do empregado e perodo (horizonte temporal). Dimenses adicionais podem ser includas conforme sua capacidade analtica julgar necessria.
8. Apresente as anlises propostas em um Dashboard de Power BI com at 3 pginas (desconsiderando capa e contracapa se houver). Utilize o mximo de recursos que achar necessrio para enriquecer a anlise e navegao.
9. Disponibilize o Dashboard preferencialmente em link pblico do Power BI e PBIX para Download.
10. Descreva a mecnica de atualizao do relatrio. Grave vdeo de demonstrao se possvel.

1 - ok

#1 - Importaes de Pacotes

In [1]:
!pip install py7zr

Collecting py7zr
  Downloading py7zr-0.21.0-py3-none-any.whl (67 kB)
      67.6/67.6 kB 892.5 kB/s eta 0:00:00
Collecting texttable (from py7zr)
  Downloading texttable-1.7.0-py2.py3-none-any.whl (10 kB)
Collecting pycryptodomex>=3.16.0 (from py7zr)
  Downloading pycryptodomex-3.20.0-cp35-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.1 MB)
      2.1/2.1 MB 12.9 MB/s eta 0:00:00
Collecting pyzstd>=0.15.9 (from py7zr)
  Downloading pyzstd-0.16.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (413 kB)
      413.8/413.8 kB 19.3 MB/s eta 0:00:00
Collecting pyppmd<1.2.0,>=1.1.0 (from py7zr)
  Downloading pyppmd-1.1.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (138 kB)
      138.9/138.9 kB 16.1 MB/s eta 0:00:00
Collecting pybcj<1.1.0,>=1.0.0 (from py7zr)
  Downloading pybcj-1.0.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (49 kB)
      49.7/49.7 kB 6.1 MB/s eta 0:00:00
Collecting multivolumefile>=0.2.3 (from py7zr)
  Downloading multivolumefile-0.2.3-py3-none-any.whl (17 kB)
Collecting inflate64<1.1.0,>=1.0.0 (from py7zr)
  Downloading inflate64-1.0.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (93 kB)
      93.1/93.1 kB 11.3 MB/s eta 0:00:00
Collecting brotli>=1.1.0 (from py7zr)
  Downloading Brotli-1.1.0-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (3.0 MB)
      3.0/3.0 MB 43.8 MB/s eta 0:00:00
Requirement already satisfied: psutil in /usr/local/lib/python3.10/dist-packages (from py7zr) (5.9.5)
Installing collected packages: texttable, brotli, pyzstd, pyppmd, pycryptodomex, pybcj, multivolumefile, inflate64, py7zr
Successfully installed brotli-1.1.0 inflate64-1.0.0 multivolumefile-0.2.3 py7zr-0.21.0 pybcj-1.0.2 pycryptodomex-3.20.0 pyppmd-1.1.0 pyzstd-0.16.0 texttable-1.7.0

In [10]:
!pip install pandas sqlalchemy pymysql

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (2.0.30)
Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
      45.0/45.0 kB 738.3 kB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (3.0.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [11]:
import pandas as pd
from ftplib import FTP
import os
import zipfile
import requests
import py7zr
from tqdm import tqdm
import glob
from sqlalchemy import create_engine

# 2 - Funes

In [3]:
def download_arquivos_ftp(ftp, diretorio_remoto, diretorio_local, anos_desejados):
    # Lista os arquivos e diretrios no diretrio remoto
    arquivos_remotos = ftp.nlst(diretorio_remoto)

    for item in arquivos_remotos:
        item_nome = os.path.basename(item)
        item_local = os.path.join(diretorio_local, item_nome)

        # Verifica se o item  um arquivo de interesse
        if '.' in item_nome and any(ano in item_nome for ano in anos_desejados):
            print(f'Baixando arquivo: {item_nome}')
            try:
                # Obtm o tamanho do arquivo para a barra de progresso
                tamanho_arquivo = ftp.size(item)
                with open(item_local, 'wb') as arquivo_local, tqdm(
                        total=tamanho_arquivo, desc=f'Arquivo {item_nome}', unit='B',
                        unit_scale=True) as barra_progresso:
                    ftp.retrbinary(f'RETR {item}', lambda dados: (
                        arquivo_local.write(dados), barra_progresso.update(len(dados))))
                print(f'Arquivo {item_nome} baixado com sucesso.')
            except Exception as e:
                print(f'Erro ao baixar arquivo {item_nome}: {e}')
        elif '.' not in item_nome:  # Se for um diretrio
            print(f'Baixando diretrio: {item_nome}')
            os.makedirs(item_local, exist_ok=True)
            # Adiciona um critrio de parada para evitar loop infinito
            if item not in diretorio_local:
                download_arquivos_ftp(ftp, item, item_local, anos_desejados)
            print(f'Diretrio {item_nome} baixado com sucesso.')

In [4]:
def extrair_arquivos_zip(diretorio_zip, diretorio_extracao):
    for ano in os.listdir(diretorio_zip):
        ano_path = os.path.join(diretorio_zip, ano)
        if os.path.isdir(ano_path):  # Verifica se  um diretrio (ano)
            for item in os.listdir(ano_path):
                item_path = os.path.join(ano_path, item)
                if item.endswith('.zip'):
                    print(f'Extraindo arquivo: {item}')
                    with zipfile.ZipFile(item_path, 'r') as zip_ref:
                        zip_ref.extractall(diretorio_extracao)
                    print(f'Arquivo {item} extrado com sucesso.')

In [5]:
def extrair_arquivos_7z(diretorio_principal, diretorio_extracao):
    for ano in os.listdir(diretorio_principal):
        ano_path = os.path.join(diretorio_principal, ano)
        if os.path.isdir(ano_path):  # Verifica se  um diretrio (ano)
            for mes in os.listdir(ano_path):
                mes_path = os.path.join(ano_path, mes)
                if mes.endswith('.7z'):
                    print(f'Extraindo arquivo: {mes}')
                    with py7zr.SevenZipFile(mes_path, mode='r') as zip_ref:
                        zip_ref.extractall(diretorio_extracao)
                    print(f'Arquivo {mes} extrado com sucesso.')

# 3 - Importando os dados

In [6]:

# Define as informaes do servidor FTP
ftp_host = 'ftp.mtps.gov.br'

# Diretrio remoto onde os arquivos esto localizados
ftp_dir = '/pdet/microdados/CAGED/'

In [7]:
# Conecte-se ao servidor FTP
ftp = FTP(ftp_host)
ftp.login()  # Conexo annima

# Mude para o diretrio correto no servidor FTP
ftp.cwd(ftp_dir)

'250 CWD command successful.'

In [8]:
# Lista os arquivos no diretrio remoto
arquivos_remotos = ftp.nlst()

# Diretrio local onde os arquivos sero salvos
diretorio_local = f'/content/CAGED'

# Garante que o diretrio local exista
os.makedirs(diretorio_local, exist_ok=True)

In [9]:
# Anos desejados
anos_desejados = ['2018', '2019']

In [10]:
# Baixa os arquivos do diretrio remoto correspondentes aos anos desejados
print('Iniciando o download...')
download_arquivos_ftp(ftp, ftp_dir, diretorio_local, anos_desejados)

# Fecha a conexo FTP
ftp.quit()

print('Download concludo.')

Iniciando o download...
Baixando diretrio: 2007
Diretrio 2007 baixado com sucesso.
Baixando diretrio: 2008
Diretrio 2008 baixado com sucesso.
Baixando diretrio: 2009
Diretrio 2009 baixado com sucesso.
Baixando diretrio: 2010
Diretrio 2010 baixado com sucesso.
Baixando diretrio: 2011
Diretrio 2011 baixado com sucesso.
Baixando diretrio: 2012
Diretrio 2012 baixado com sucesso.
Baixando diretrio: 2013
Diretrio 2013 baixado com sucesso.
Baixando diretrio: 2014
Diretrio 2014 baixado com sucesso.
Baixando diretrio: 2015
Diretrio 2015 baixado com sucesso.
Baixando diretrio: 2016
Diretrio 2016 baixado com sucesso.
Baixando diretrio: 2017
Diretrio 2017 baixado com sucesso.
Baixando diretrio: 2018
Baixando arquivo: CAGEDEST_012018.7z

Arquivo CAGEDEST_012018.7z: 100%|| 25.2M/25.2M [00:33<00:00, 744kB/s]

Arquivo CAGEDEST_012018.7z baixado com sucesso.
Baixando arquivo: CAGEDEST_022018.7z

Arquivo CAGEDEST_022018.7z: 100%|| 23.3M/23.3M [00:30<00:00, 755kB/s]

Arquivo CAGEDEST_022018.7z baixado com sucesso.
Baixando arquivo: CAGEDEST_032018.7z

Arquivo CAGEDEST_032018.7z: 100%|| 24.6M/24.6M [00:32<00:00, 747kB/s]

Arquivo CAGEDEST_032018.7z baixado com sucesso.
Baixando arquivo: CAGEDEST_042018.7z

Arquivo CAGEDEST_042018.7z: 100%|| 23.4M/23.4M [00:30<00:00, 757kB/s]

Arquivo CAGEDEST_042018.7z baixado com sucesso.
Baixando arquivo: CAGEDEST_052018.7z

Arquivo CAGEDEST_052018.7z: 100%|| 26.0M/26.0M [00:51<00:00, 502kB/s]

Arquivo CAGEDEST_052018.7z baixado com sucesso.
Baixando arquivo: CAGEDEST_062018.7z

Arquivo CAGEDEST_062018.7z: 100%|| 24.2M/24.2M [00:33<00:00, 714kB/s]

Arquivo CAGEDEST_062018.7z baixado com sucesso.
Baixando arquivo: CAGEDEST_072018.7z

Arquivo CAGEDEST_072018.7z: 100%|| 24.6M/24.6M [00:33<00:00, 744kB/s]

Arquivo CAGEDEST_072018.7z baixado com sucesso.
Baixando arquivo: CAGEDEST_082018.7z

Arquivo CAGEDEST_082018.7z: 100%|| 24.5M/24.5M [00:32<00:00, 758kB/s]

Arquivo CAGEDEST_082018.7z baixado com sucesso.
Baixando arquivo: CAGEDEST_092018.7z

Arquivo CAGEDEST_092018.7z: 100%|| 22.0M/22.0M [00:30<00:00, 724kB/s]

Arquivo CAGEDEST_092018.7z baixado com sucesso.
Baixando arquivo: CAGEDEST_102018.7z

Arquivo CAGEDEST_102018.7z: 100%|| 23.5M/23.5M [00:31<00:00, 753kB/s]

Arquivo CAGEDEST_102018.7z baixado com sucesso.
Baixando arquivo: CAGEDEST_112018.7z

Arquivo CAGEDEST_112018.7z: 100%|| 21.8M/21.8M [00:29<00:00, 746kB/s]

Arquivo CAGEDEST_112018.7z baixado com sucesso.
Baixando arquivo: CAGEDEST_122018.7z

Arquivo CAGEDEST_122018.7z: 100%|| 20.9M/20.9M [00:27<00:00, 750kB/s]

Arquivo CAGEDEST_122018.7z baixado com sucesso.
Diretrio 2018 baixado com sucesso.
Baixando diretrio: 2019
Baixando arquivo: CAGEDEST_012019.7z

Arquivo CAGEDEST_012019.7z: 100%|| 24.5M/24.5M [00:32<00:00, 755kB/s]

Arquivo CAGEDEST_012019.7z baixado com sucesso.
Baixando arquivo: CAGEDEST_022019.7z

Arquivo CAGEDEST_022019.7z: 100%|| 25.6M/25.6M [00:35<00:00, 716kB/s]

Arquivo CAGEDEST_022019.7z baixado com sucesso.
Baixando arquivo: CAGEDEST_032019.7z

Arquivo CAGEDEST_032019.7z: 100%|| 24.4M/24.4M [00:33<00:00, 721kB/s]

Arquivo CAGEDEST_032019.7z baixado com sucesso.
Baixando arquivo: CAGEDEST_042019.7z

Arquivo CAGEDEST_042019.7z: 100%|| 24.6M/24.6M [00:33<00:00, 734kB/s]

Arquivo CAGEDEST_042019.7z baixado com sucesso.
Baixando arquivo: CAGEDEST_052019.7z

Arquivo CAGEDEST_052019.7z: 100%|| 25.1M/25.1M [00:33<00:00, 753kB/s]

Arquivo CAGEDEST_052019.7z baixado com sucesso.
Baixando arquivo: CAGEDEST_062019.7z

Arquivo CAGEDEST_062019.7z: 100%|| 23.2M/23.2M [00:30<00:00, 749kB/s]

Arquivo CAGEDEST_062019.7z baixado com sucesso.
Baixando arquivo: CAGEDEST_072019.7z

Arquivo CAGEDEST_072019.7z: 100%|| 24.8M/24.8M [00:35<00:00, 703kB/s]

Arquivo CAGEDEST_072019.7z baixado com sucesso.
Baixando arquivo: CAGEDEST_082019.7z

Arquivo CAGEDEST_082019.7z: 100%|| 25.1M/25.1M [00:33<00:00, 743kB/s]

Arquivo CAGEDEST_082019.7z baixado com sucesso.
Baixando arquivo: CAGEDEST_092019.7z

Arquivo CAGEDEST_092019.7z: 100%|| 23.9M/23.9M [00:31<00:00, 756kB/s]

Arquivo CAGEDEST_092019.7z baixado com sucesso.
Baixando arquivo: CAGEDEST_102019.7z

Arquivo CAGEDEST_102019.7z: 100%|| 25.0M/25.0M [00:33<00:00, 737kB/s]

Arquivo CAGEDEST_102019.7z baixado com sucesso.
Baixando arquivo: CAGEDEST_112019.7z

Arquivo CAGEDEST_112019.7z: 100%|| 21.3M/21.3M [00:28<00:00, 741kB/s]

Arquivo CAGEDEST_112019.7z baixado com sucesso.
Baixando arquivo: CAGEDEST_122019.7z

Arquivo CAGEDEST_122019.7z: 100%|| 19.6M/19.6M [00:28<00:00, 698kB/s]

Arquivo CAGEDEST_122019.7z baixado com sucesso.
Diretrio 2019 baixado com sucesso.
Baixando diretrio: EEC
Baixando diretrio: 092018
Baixando diretrio: SETOR
Baixando diretrio: Brasil
Diretrio Brasil baixado com sucesso.
Baixando diretrio: MUN
Baixando diretrio: AC
Diretrio AC baixado com sucesso.
Baixando diretrio: AL
Diretrio AL baixado com sucesso.
Baixando diretrio: AM
Diretrio AM baixado com sucesso.
Baixando diretrio: AP
Diretrio AP baixado com sucesso.
Baixando diretrio: BA
Diretrio BA baixado com sucesso.
Baixando diretrio: CE
Diretrio CE baixado com sucesso.
Baixando diretrio: DF
Diretrio DF baixado com sucesso.
Baixando diretrio: ES
Diretrio ES baixado com sucesso.
Baixando diretrio: FN
Diretrio FN baixado com sucesso.
Baixando diretrio: GB
Diretrio GB baixado com sucesso.
Baixando diretrio: GO
Diretrio GO baixado com sucesso.
Baixando diretrio: MA
Diretrio MA baixado com sucesso.
Baixando diretrio: MG
Diretrio MG baixado com sucesso.
Baixando diretrio: MS
Diretrio MS baixado com sucesso.
Baixando diretrio: MT
Diretrio MT baixado com sucesso.
Baixando diretrio: PA
Diretrio PA baixado com sucesso.
Baixando diretrio: PB
Diretrio PB baixado com sucesso.
Baixando diretrio: PE
Diretrio PE baixado com sucesso.
Baixando diretrio: PI
Diretrio PI baixado com sucesso.
Baixando diretrio: PR
Diretrio PR baixado com sucesso.
Baixando diretrio: RJ
Diretrio RJ baixado com sucesso.
Baixando diretrio: RN
Diretrio RN baixado com sucesso.
Baixando diretrio: RO
Diretrio RO baixado com sucesso.
Baixando diretrio: RR
Diretrio RR baixado com sucesso.
Baixando diretrio: RS
Diretrio RS baixado com sucesso.
Baixando diretrio: SC
Diretrio SC baixado com sucesso.
Baixando diretrio: SE
Diretrio SE baixado com sucesso.
Baixando diretrio: SP
Diretrio SP baixado com sucesso.
Baixando diretrio: TO
Diretrio TO baixado com sucesso.
Diretrio MUN baixado com sucesso.
Baixando diretrio: RegiaoMetro
Diretrio RegiaoMetro baixado com sucesso.
Baixando diretrio: UF
Diretrio UF baixado com sucesso.
Diretrio SETOR baixado com sucesso.
Baixando diretrio: SUBSET
Baixando diretrio: Brasil
Diretrio Brasil baixado com sucesso.
Baixando diretrio: RegiaoMetro
Diretrio RegiaoMetro baixado com sucesso.
Baixando diretrio: UF
Diretrio UF baixado com sucesso.
Diretrio SUBSET baixado com sucesso.
Baixando diretrio: TAXAROT
Diretrio TAXAROT baixado com sucesso.
Diretrio 092018 baixado com sucesso.
Diretrio EEC baixado com sucesso.
Download concludo.

#4 - Extraindo os arquivos necessrios

In [11]:
# Extrai arquivos zipados

# Diretrio principal onde os arquivos 7z esto localizados
diretorio_principal = '/content/CAGED/'

# Diretrio onde os arquivos sero extrados
diretorio_extracao = '/content/Dados'

# Garante que o diretrio de extrao exista
os.makedirs(diretorio_extracao, exist_ok=True)

# Extrai os arquivos 7z de cada pasta de ano e ms dentro do diretrio principal
extrair_arquivos_7z(diretorio_principal, diretorio_extracao)

print('Extrao concluda.')

Extraindo arquivo: CAGEDEST_052018.7z
Arquivo CAGEDEST_052018.7z extrado com sucesso.
Extraindo arquivo: CAGEDEST_072018.7z
Arquivo CAGEDEST_072018.7z extrado com sucesso.
Extraindo arquivo: CAGEDEST_042018.7z
Arquivo CAGEDEST_042018.7z extrado com sucesso.
Extraindo arquivo: CAGEDEST_032018.7z
Arquivo CAGEDEST_032018.7z extrado com sucesso.
Extraindo arquivo: CAGEDEST_022018.7z
Arquivo CAGEDEST_022018.7z extrado com sucesso.
Extraindo arquivo: CAGEDEST_082018.7z
Arquivo CAGEDEST_082018.7z extrado com sucesso.
Extraindo arquivo: CAGEDEST_092018.7z
Arquivo CAGEDEST_092018.7z extrado com sucesso.
Extraindo arquivo: CAGEDEST_112018.7z
Arquivo CAGEDEST_112018.7z extrado com sucesso.
Extraindo arquivo: CAGEDEST_012018.7z
Arquivo CAGEDEST_012018.7z extrado com sucesso.
Extraindo arquivo: CAGEDEST_102018.7z
Arquivo CAGEDEST_102018.7z extrado com sucesso.
Extraindo arquivo: CAGEDEST_062018.7z
Arquivo CAGEDEST_062018.7z extrado com sucesso.
Extraindo arquivo: CAGEDEST_122018.7z
Arquivo CAGEDEST_122018.7z extrado com sucesso.
Extraindo arquivo: CAGEDEST_122019.7z
Arquivo CAGEDEST_122019.7z extrado com sucesso.
Extraindo arquivo: CAGEDEST_022019.7z
Arquivo CAGEDEST_022019.7z extrado com sucesso.
Extraindo arquivo: CAGEDEST_062019.7z
Arquivo CAGEDEST_062019.7z extrado com sucesso.
Extraindo arquivo: CAGEDEST_072019.7z
Arquivo CAGEDEST_072019.7z extrado com sucesso.
Extraindo arquivo: CAGEDEST_052019.7z
Arquivo CAGEDEST_052019.7z extrado com sucesso.
Extraindo arquivo: CAGEDEST_032019.7z
Arquivo CAGEDEST_032019.7z extrado com sucesso.
Extraindo arquivo: CAGEDEST_042019.7z
Arquivo CAGEDEST_042019.7z extrado com sucesso.
Extraindo arquivo: CAGEDEST_012019.7z
Arquivo CAGEDEST_012019.7z extrado com sucesso.
Extraindo arquivo: CAGEDEST_112019.7z
Arquivo CAGEDEST_112019.7z extrado com sucesso.
Extraindo arquivo: CAGEDEST_092019.7z
Arquivo CAGEDEST_092019.7z extrado com sucesso.
Extraindo arquivo: CAGEDEST_082019.7z
Arquivo CAGEDEST_082019.7z extrado com sucesso.
Extraindo arquivo: CAGEDEST_102019.7z
Arquivo CAGEDEST_102019.7z extrado com sucesso.
Extrao concluda.

#5 - Anlise Exploratria

In [12]:
# Tentando ler o arquivo com codificao ISO-8859-1
teste = pd.read_csv('/content/Dados/CAGEDEST_012018.txt', sep=';', encoding='iso-8859-1')

<ipython-input-12-7db4bc5b359c>:2: DtypeWarning: Columns (32,33,34,35,36,37,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  teste = pd.read_csv('/content/Dados/CAGEDEST_012018.txt', sep=';', encoding='iso-8859-1')

In [13]:
teste.head()

,Admitidos/Desligados,Competncia Declarada,Municpio,Ano Declarado,CBO 2002 Ocupao,CNAE 1.0 Classe,CNAE 2.0 Classe,CNAE 2.0 Subclas,Faixa Empr Incio Jan,Grau Instruo,...,Microrregio,Regio Adm RJ,Regio Adm SP,Regio Corede,Regio Corede 04,Regio Gov SP,Regio Senac PR,Regio Senai PR,Regio Senai SP,Sub-Regio Senai PR
0,2,201801,110004,2018,322415,85138,86305,8630504,2,8,...,11006,{,999,{,99,999,99,{,999,99
1,2,201801,110011,2018,411030,1414,1512,151201,1,7,...,11004,{,999,{,99,999,99,{,999,99
2,1,201801,110018,2018,142105,52442,47431,4743100,1,2,...,11007,{,999,{,99,999,99,{,999,99
3,1,201801,110029,2018,914405,50415,45412,4541205,1,7,...,11006,{,999,{,99,999,99,{,999,99
4,1,201801,110029,2018,914405,50415,45412,4541205,1,7,...,11006,{,999,{,99,999,99,{,999,99

In [14]:
teste.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2491174 entries, 0 to 2491173
Data columns (total 40 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Admitidos/Desligados   int64
 1   Competncia Declarada  int64
 2   Municpio              int64
 3   Ano Declarado          int64
 4   CBO 2002 Ocupao      int64
 5   CNAE 1.0 Classe        int64
 6   CNAE 2.0 Classe        int64
 7   CNAE 2.0 Subclas       int64
 8   Faixa Empr Incio Jan  int64
 9   Grau Instruo         int64
 10  Qtd Hora Contrat       int64
 11  IBGE Subsetor          int64
 12  Idade                  int64
 13  Ind Aprendiz           int64
 14  Ind Portador Defic     int64
 15  Raa Cor               int64
 16  Salrio Mensal         object
 17  Saldo Mov              int64
 18  Sexo                   int64
 19  Tempo Emprego          object
 20  Tipo Estab             int64
 21  Tipo Defic             int64
 22  Tipo Mov Desagregado   int64
 23  UF                     int64
 24  Bairros SP             object
 25  Bairros Fortaleza      object
 26  Bairros RJ             object
 27  Distritos SP           object
 28  Regies Adm DF         int64
 29  Mesorregio            int64
 30  Microrregio           int64
 31  Regio Adm RJ          object
 32  Regio Adm SP          object
 33  Regio Corede          object
 34  Regio Corede 04       object
 35  Regio Gov SP          object
 36  Regio Senac PR        object
 37  Regio Senai PR        object
 38  Regio Senai SP        object
 39  Sub-Regio Senai PR    object
dtypes: int64(25), object(15)
memory usage: 760.2+ MB

In [15]:
# Tentando ler o arquivo com codificao Windows-1252
teste2 = pd.read_csv('/content/Dados/CAGEDEST_012018.txt', sep=';', encoding='windows-1252')
teste2

<ipython-input-15-96fc59058c30>:2: DtypeWarning: Columns (32,33,34,35,36,37,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  teste2 = pd.read_csv('/content/Dados/CAGEDEST_012018.txt', sep=';', encoding='windows-1252')

,Admitidos/Desligados,Competncia Declarada,Municpio,Ano Declarado,CBO 2002 Ocupao,CNAE 1.0 Classe,CNAE 2.0 Classe,CNAE 2.0 Subclas,Faixa Empr Incio Jan,Grau Instruo,...,Microrregio,Regio Adm RJ,Regio Adm SP,Regio Corede,Regio Corede 04,Regio Gov SP,Regio Senac PR,Regio Senai PR,Regio Senai SP,Sub-Regio Senai PR
0,2,201801,110004,2018,322415,85138,86305,8630504,2,8,...,11006,{,999,{,99,999,99,{,999,99
1,2,201801,110011,2018,411030,1414,1512,151201,1,7,...,11004,{,999,{,99,999,99,{,999,99
2,1,201801,110018,2018,142105,52442,47431,4743100,1,2,...,11007,{,999,{,99,999,99,{,999,99
3,1,201801,110029,2018,914405,50415,45412,4541205,1,7,...,11006,{,999,{,99,999,99,{,999,99
4,1,201801,110029,2018,914405,50415,45412,4541205,1,7,...,11006,{,999,{,99,999,99,{,999,99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2491169,2,201801,530010,2018,513610,55212,56112,5611201,3,7,...,53001,{,999,{,99,999,99,{,999,99
2491170,2,201801,530010,2018,510135,55212,56112,5611201,3,7,...,53001,{,999,{,99,999,99,{,999,99
2491171,2,201801,530010,2018,513415,55212,56112,5611201,3,7,...,53001,{,999,{,99,999,99,{,999,99
2491172,1,201801,530010,2018,510135,55212,56112,5611201,3,7,...,53001,{,999,{,99,999,99,{,999,99
2491173,2,201801,530010,2018,513505,52442,47440,4744001,1,7,...,53001,{,999,{,99,999,99,{,999,99

# 6 - Criando novas tabelas

## 6.1 Municpios

In [16]:
# Lista de cdigos e nomes dos municpios (apenas um exemplo, substitua com seus dados reais)
capitais = {
    '110004': 'Rio Branco',
    '150140': 'Belm',
    '310620': 'Belo Horizonte',
    '140010': 'Boa Vista',
    '530010': 'Braslia',
    '500270': 'Campo Grande',
    '510340': 'Cuiab',
    '410690': 'Curitiba',
    '420540': 'Florianpolis',
    '230440': 'Fortaleza',
    '520870': 'Goinia',
    '250750': 'Joo Pessoa',
    '160030': 'Macap',
    '270430': 'Macei',
    '130260': 'Manaus',
    '240810': 'Natal',
    '172100': 'Palmas',
    '431490': 'Porto Alegre',
    '110020': 'Porto Velho',
    '261160': 'Recife',
    '120040': 'Rio Branco',
    '330455': 'Rio de Janeiro',
    '292740': 'Salvador',
    '211130': 'So Lus',
    '355030': 'So Paulo',
    '221100': 'Teresina',
    '320530': 'Vitria'
}

In [17]:


# Link para download do arquivo CSV da tabela de municpios do IBGE
url_municipios = 'https://www.gov.br/receitafederal/dados/municipios.csv/@@download/file'

# Nome da pasta onde os arquivos sero salvos
folder_name = 'IBGE'

# Verificar se a pasta existe, caso contrrio, criar
if not os.path.exists(folder_name):
    os.makedirs(folder_name)
    print(f'Pasta "{folder_name}" criada com sucesso!')
else:
    print(f'A pasta "{folder_name}" j existe.')

# Caminho para a pasta IBGE no Google Colab
caminho_pasta = '/content/IBGE/'

# Nome do arquivo CSV que voc deseja criar
nome_arquivo_csv = 'tabela_municipios.csv'

# Caminho completo para o arquivo CSV
caminho_arquivo_csv = caminho_pasta + nome_arquivo_csv

# Baixar o arquivo CSV da tabela de municpios do IBGE
response = requests.get(url_municipios)
with open(caminho_arquivo_csv, 'wb') as f:
    f.write(response.content)

print(f'Arquivo CSV "{nome_arquivo_csv}" baixado e salvo com sucesso em "{caminho_pasta}"')

Pasta "IBGE" criada com sucesso!
Arquivo CSV "tabela_municipios.csv" baixado e salvo com sucesso em "/content/IBGE/"

## 6.2 CBO 2002 Ocupao

In [18]:
# Captch exigido

cbo2002 = 'http://www.mtecbo.gov.br/cbosite/pages/downloads.jsf'

## 6.3 CNAE

In [19]:
# CNAE

CONCLA = 'https://concla.ibge.gov.br/agencia-sala-de-imprensa/classificacoes/download-concla/8265-download.html'

In [20]:
# Links para download dos arquivos CSV com informaes sobre CNAEs
url_cnae_2_classes = 'https://concla.ibge.gov.br/images/concla/downloads/revisao2007/PropCNAE20/CNAE20_EstruturaDetalhada.xls'
url_cnae_2_subclasses = 'https://concla.ibge.gov.br/images/concla/downloads/revisao2007/PropCNAE20/CNAE20_Subclasses_EstruturaDetalhada.xls'
url_cnae_1 = 'https://concla.ibge.gov.br/images/concla/downloads/CNAE1.0.xls'

# Caminho para a pasta IBGE no Google Colab
caminho_pasta = '/content/IBGE/'

# Nome dos arquivos CSV que voc deseja criar
nome_arquivo_cnae_2_classes = 'CNAE_2_classes.csv'
nome_arquivo_cnae_2_subclasses = 'CNAE_2_subclasses.csv'
nome_arquivo_cnae_1 = 'CNAE_1.csv'

# Caminhos completos para os arquivos CSV
caminho_arquivo_cnae_2_classes = caminho_pasta + nome_arquivo_cnae_2_classes
caminho_arquivo_cnae_2_subclasses = caminho_pasta + nome_arquivo_cnae_2_subclasses
caminho_arquivo_cnae_1 = caminho_pasta + nome_arquivo_cnae_1

# Baixar os arquivos CSV com informaes sobre CNAEs
response_cnae_2_classes = requests.get(url_cnae_2_classes)
with open(caminho_arquivo_cnae_2_classes, 'wb') as f:
    f.write(response_cnae_2_classes.content)

response_cnae_2_subclasses = requests.get(url_cnae_2_subclasses)
with open(caminho_arquivo_cnae_2_subclasses, 'wb') as f:
    f.write(response_cnae_2_subclasses.content)

response_cnae_1 = requests.get(url_cnae_1)
with open(caminho_arquivo_cnae_1, 'wb') as f:
    f.write(response_cnae_1.content)

print('Arquivos CSV baixados e salvos com sucesso na pasta IBGE.')

Arquivos CSV baixados e salvos com sucesso na pasta IBGE.

##6.4 Grau de instruo

In [21]:

# Dados completos para grau de instruo do IBGE
data = {
    'Cdigo': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'Descrio': [
        'Sem instruo e menos de 1 ano de estudo',
        '1 a 3 anos de estudo fundamental incompleto ou EJA',
        '4 a 7 anos de estudo fundamental incompleto ou EJA',
        'Fundamental completo',
        'Mdio incompleto',
        'Mdio completo',
        'Superior incompleto',
        'Superior completo',
        'Mestrado',
        'Doutorado'
    ]
}

# Criar o DataFrame
df_grau_instrucao = pd.DataFrame(data)

# Exibir o DataFrame
print(df_grau_instrucao)

# Nome da pasta onde os arquivos sero salvos
folder_name = 'IBGE'

# Verificar se a pasta existe, caso contrrio, criar
if not os.path.exists(folder_name):
    os.makedirs(folder_name)
    print(f'Pasta "{folder_name}" criada com sucesso!')
else:
    print(f'A pasta "{folder_name}" j existe.')

# Caminho completo para salvar o arquivo CSV
file_path = os.path.join(folder_name, 'grau_instrucao.csv')

# Salvar o DataFrame como CSV
df_grau_instrucao.to_csv(file_path, index=False)
print(f'Arquivo salvo em: {file_path}')

   Cdigo                                          Descrio
0       1           Sem instruo e menos de 1 ano de estudo
1       2  1 a 3 anos de estudo fundamental incompleto ou...
2       3  4 a 7 anos de estudo fundamental incompleto ou...
3       4                               Fundamental completo
4       5                                   Mdio incompleto
5       6                                     Mdio completo
6       7                                Superior incompleto
7       8                                  Superior completo
8       9                                           Mestrado
9      10                                          Doutorado
A pasta "IBGE" j existe.
Arquivo salvo em: IBGE/grau_instrucao.csv

## 6.5 IBGE Subsetor

In [22]:
# Dados fornecidos
data = {
    'Cdigo': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26],
    'Categoria': [
        'EXTR MINERAL', 'MIN NAO MET', 'IND METAL', 'IND MECANICA', 'ELET E COMUN',
        'MAT TRANSP', 'MAD E MOBIL', 'PAPEL E GRAF', 'BOR FUN COUR', 'IND QUIMICA',
        'IND TEXTIL', 'IND CALCADOS', 'ALIM E BEB', 'SERV UTIL PUB', 'CONSTR CIVIL',
        'COM VAREJ', 'COM ATACAD', 'INST FINANC', 'ADM TEC PROF', 'TRAN E COMUN',
        'ALOJ COMUNIC', 'MED ODON VET', 'ENSINO', 'ADM PUBLICA', 'AGRICULTURA', 'OUTROS'
    ],
    'Descrio': [
        'EXTRACAO DE MINERAIS', 'INDUSTRIA DE PRODUTOS MINERAIS NAO METALICOS', 'INDUSTRIA METALURGICA',
        'INDUSTRIA MECANICA', 'INDUSTRIA DO MATERIAL ELETRICO E DE COMUNICACOES',
        'INDUSTRIA DO MATERIAL DE TRANSPORTE', 'INDUSTRIA DA MADEIRA E DO MOBILIARIO',
        'INDUSTRIA DO PAPEL, PAPELAO, EDITORIAL E GRAFICA',
        'IND. DA BORRACHA, DO FUMO, DE COUROS, PELES E PROD. SIMIL. E IND. DIV.',
        'IND. QUIM., DE PROD. FARM., VETER., DE PERF., SABOES, VELAS E MAT. PLA',
        'INDUSTRIA TEXTIL, DO VESTUARIO E ARTEFATOS DE TECIDOS', 'INDUSTRIA DE CALCADOS',
        'INDUSTRIA DE PROD. ALIMENTICIOS, DE BEBIDAS E ALCOOL ETILICO.',
        'SERVICOS INDUSTRIAIS DE UTILIDADE PUBLICA', 'CONSTRUCAO CIVIL', 'COMERCIO VAREJISTA',
        'COMERCIO ATACADISTA', 'INSTITUICOES DE CREDITO, SEGUROS E DE CAPITALIZACAO',
        'COM,ADM.IMOV,VAL.MOB,SERV.TECN-PROF,AUX.ATIV.ECON E ORG.INT E REP. INT',
        'TRANSPORTE E COMUNICACOES',
        'SERV.ALOJ, ALIM,REP,MANUT,RES, DOMIC,DIVERS,RADIO DIF,TV,COM ESOC',
        'SERVICOS MEDICOS, ODONTOLOGICOS E VETERINARIOS', 'ENSINO', 'ADM. PUBLICA DIRETA E AUTARQUICA',
        'AGRIC., SILVICULTURA, CRIACAO DE ANIM., EXTR.VEG., PESCA E AGRICULTURA', 'OUTROS'
    ]
}

# Criar o DataFrame
df_subsetor = pd.DataFrame(data)

# Exibir o DataFrame
print(df_subsetor)

# Nome da pasta onde os arquivos sero salvos
folder_name = 'IBGE'

# Verificar se a pasta existe, caso contrrio, criar
if not os.path.exists(folder_name):
    os.makedirs(folder_name)
    print(f'Pasta "{folder_name}" criada com sucesso!')
else:
    print(f'A pasta "{folder_name}" j existe.')

# Caminho completo para salvar o arquivo CSV
file_path = os.path.join(folder_name, 'subsetor.csv')

# Salvar o DataFrame como CSV
df_subsetor.to_csv(file_path, index=False)
print(f'Arquivo salvo em: {file_path}')

    Cdigo      Categoria                                          Descrio
0        1   EXTR MINERAL                               EXTRACAO DE MINERAIS
1        2    MIN NAO MET       INDUSTRIA DE PRODUTOS MINERAIS NAO METALICOS
2        3      IND METAL                              INDUSTRIA METALURGICA
3        4   IND MECANICA                                 INDUSTRIA MECANICA
4        5   ELET E COMUN   INDUSTRIA DO MATERIAL ELETRICO E DE COMUNICACOES
5        6     MAT TRANSP                INDUSTRIA DO MATERIAL DE TRANSPORTE
6        7    MAD E MOBIL               INDUSTRIA DA MADEIRA E DO MOBILIARIO
7        8   PAPEL E GRAF   INDUSTRIA DO PAPEL, PAPELAO, EDITORIAL E GRAFICA
8        9   BOR FUN COUR  IND. DA BORRACHA, DO FUMO, DE COUROS, PELES E ...
9       10    IND QUIMICA  IND. QUIM., DE PROD. FARM., VETER., DE PERF., ...
10      11     IND TEXTIL  INDUSTRIA TEXTIL, DO VESTUARIO E ARTEFATOS DE ...
11      12   IND CALCADOS                              INDUSTRIA DE CALCADOS
12      13     ALIM E BEB  INDUSTRIA DE PROD. ALIMENTICIOS, DE BEBIDAS E ...
13      14  SERV UTIL PUB          SERVICOS INDUSTRIAIS DE UTILIDADE PUBLICA
14      15   CONSTR CIVIL                                   CONSTRUCAO CIVIL
15      16      COM VAREJ                                 COMERCIO VAREJISTA
16      17     COM ATACAD                                COMERCIO ATACADISTA
17      18    INST FINANC  INSTITUICOES DE CREDITO, SEGUROS E DE CAPITALI...
18      19   ADM TEC PROF  COM,ADM.IMOV,VAL.MOB,SERV.TECN-PROF,AUX.ATIV.E...
19      20   TRAN E COMUN                          TRANSPORTE E COMUNICACOES
20      21   ALOJ COMUNIC  SERV.ALOJ, ALIM,REP,MANUT,RES, DOMIC,DIVERS,RA...
21      22   MED ODON VET     SERVICOS MEDICOS, ODONTOLOGICOS E VETERINARIOS
22      23         ENSINO                                             ENSINO
23      24    ADM PUBLICA                   ADM. PUBLICA DIRETA E AUTARQUICA
24      25    AGRICULTURA  AGRIC., SILVICULTURA, CRIACAO DE ANIM., EXTR.V...
25      26         OUTROS                                             OUTROS
A pasta "IBGE" j existe.
Arquivo salvo em: IBGE/subsetor.csv

## 6.6 Raa/Cor

In [23]:

# Dados de raa/cor segundo o IBGE
data_raca_cor = {
    'Cdigo': [1, 2, 3, 4, 5, 9],
    'Descrio': ['Branca', 'Preta', 'Amarela', 'Parda', 'Indgena', 'Sem declarao']
}

# Criar o DataFrame
df_raca_cor = pd.DataFrame(data_raca_cor)

# Exibir o DataFrame
print(df_raca_cor)

# Nome da pasta onde os arquivos sero salvos
folder_name = 'IBGE'

# Verificar se a pasta existe, caso contrrio, criar
if not os.path.exists(folder_name):
    os.makedirs(folder_name)
    print(f'Pasta "{folder_name}" criada com sucesso!')
else:
    print(f'A pasta "{folder_name}" j existe.')

# Caminho completo para salvar o arquivo CSV
file_path = os.path.join(folder_name, 'raca_cor.csv')

# Salvar o DataFrame como CSV
df_raca_cor.to_csv(file_path, index=False)
print(f'Arquivo salvo em: {file_path}')

   Cdigo       Descrio
0       1          Branca
1       2           Preta
2       3         Amarela
3       4           Parda
4       5        Indgena
5       9  Sem declarao
A pasta "IBGE" j existe.
Arquivo salvo em: IBGE/raca_cor.csv

## 6.7 Faixa empregados no inicio de janeiro

In [24]:

# Exemplo de dados fictcios de faixa de empregados no incio de janeiro
data_faixa_emp = {
    'Cdigo': [1, 2, 3, 4, 5, 6],
    'Faixa de Empregados': ['0 - 9', '10 - 49', '50 - 99', '100 - 499', '500 - 999', '1000 ou mais']
}

# Criar o DataFrame
df_faixa_emp = pd.DataFrame(data_faixa_emp)

# Exibir o DataFrame
print(df_faixa_emp)

# Nome da pasta onde os arquivos sero salvos
folder_name = 'IBGE'

# Verificar se a pasta existe, caso contrrio, criar
if not os.path.exists(folder_name):
    os.makedirs(folder_name)
    print(f'Pasta "{folder_name}" criada com sucesso!')
else:
    print(f'A pasta "{folder_name}" j existe.')

# Caminho completo para salvar o arquivo CSV
file_path = os.path.join(folder_name, 'faixa_emp_inic_jan.csv')

# Salvar o DataFrame como CSV
df_faixa_emp.to_csv(file_path, index=False)
print(f'Arquivo salvo em: {file_path}')

   Cdigo Faixa de Empregados
0       1               0 - 9
1       2             10 - 49
2       3             50 - 99
3       4           100 - 499
4       5           500 - 999
5       6        1000 ou mais
A pasta "IBGE" j existe.
Arquivo salvo em: IBGE/faixa_emp_inic_jan.csv

## 6.8 Unidades da Federao

In [25]:
import pandas as pd

# Dados das UFs
dados_uf = {
    'Cdigo': [11, 12, 13, 14, 15, 16, 17, 21, 22, 23, 24, 25, 26, 27, 28, 29, 31, 32, 33, 35, 41, 42, 43, 50, 51, 52, 53],
    'UF': ['RO', 'AC', 'AM', 'RR', 'PA', 'AP', 'TO', 'MA', 'PI', 'CE', 'RN', 'PB', 'PE', 'AL', 'SE', 'BA', 'MG', 'ES', 'RJ', 'SP', 'PR', 'SC', 'RS', 'MS', 'MT', 'GO', 'DF'],
    'Nome': ['Rondnia', 'Acre', 'Amazonas', 'Roraima', 'Par', 'Amap', 'Tocantins', 'Maranho', 'Piau', 'Cear', 'Rio Grande do Norte', 'Paraba', 'Pernambuco', 'Alagoas', 'Sergipe', 'Bahia', 'Minas Gerais', 'Esprito Santo', 'Rio de Janeiro', 'So Paulo', 'Paran', 'Santa Catarina', 'Rio Grande do Sul', 'Mato Grosso do Sul', 'Mato Grosso', 'Gois', 'Distrito Federal']
}

# Criar o DataFrame
df_dados_uf = pd.DataFrame(dados_uf)

# Exibir o DataFrame
print(df_dados_uf)

# Nome da pasta onde os arquivos sero salvos
folder_name = 'IBGE'

# Verificar se a pasta existe, caso contrrio, criar
if not os.path.exists(folder_name):
    os.makedirs(folder_name)
    print(f'Pasta "{folder_name}" criada com sucesso!')
else:
    print(f'A pasta "{folder_name}" j existe.')

# Caminho completo para salvar o arquivo CSV
file_path = os.path.join(folder_name, 'dados_uf.csv')

# Salvar o DataFrame como CSV
df_dados_uf.to_csv(file_path, index=False)
print(f'Arquivo salvo em: {file_path}')

    Cdigo  UF                 Nome
0       11  RO             Rondnia
1       12  AC                 Acre
2       13  AM             Amazonas
3       14  RR              Roraima
4       15  PA                 Par
5       16  AP                Amap
6       17  TO            Tocantins
7       21  MA             Maranho
8       22  PI                Piau
9       23  CE                Cear
10      24  RN  Rio Grande do Norte
11      25  PB              Paraba
12      26  PE           Pernambuco
13      27  AL              Alagoas
14      28  SE              Sergipe
15      29  BA                Bahia
16      31  MG         Minas Gerais
17      32  ES       Esprito Santo
18      33  RJ       Rio de Janeiro
19      35  SP            So Paulo
20      41  PR               Paran
21      42  SC       Santa Catarina
22      43  RS    Rio Grande do Sul
23      50  MS   Mato Grosso do Sul
24      51  MT          Mato Grosso
25      52  GO                Gois
26      53  DF     Distrito Federal
A pasta "IBGE" j existe.
Arquivo salvo em: IBGE/dados_uf.csv

#7 - Limpeza e tratamento dos dados

##7.1 Converter para CSV

In [38]:
# Converter para CSV

# Caminho dos arquivos TXT e destino dos arquivos CSV
caminho_dados = '/content/Dados'
caminho_destino = '/content/Dados_CSV'

# Verificar se a pasta de destino existe, seno criar
if not os.path.exists(caminho_destino):
    os.makedirs(caminho_destino)

In [39]:
# Converter todos os arquivos TXT para CSV
for arquivo_txt in os.listdir(caminho_dados):
    if arquivo_txt.endswith('.txt'):
        caminho_arquivo_txt = os.path.join(caminho_dados, arquivo_txt)
        nome_arquivo_csv = arquivo_txt.replace('.txt', '.csv')
        caminho_arquivo_csv = os.path.join(caminho_destino, nome_arquivo_csv)

        with open(caminho_arquivo_txt, 'r', encoding='iso-8859-1') as arquivo_txt:
            with open(caminho_arquivo_csv, 'w', encoding='utf-8') as arquivo_csv:
                for linha in arquivo_txt:
                    arquivo_csv.write(linha)

        print(f'Arquivo convertido: {nome_arquivo_csv}')

print('Todos os arquivos foram convertidos para CSV.')

Arquivo convertido: CAGEDEST_072018.csv
Arquivo convertido: CAGEDEST_122018.csv
Arquivo convertido: CAGEDEST_052019.csv
Arquivo convertido: CAGEDEST_062018.csv
Arquivo convertido: CAGEDEST_062019.csv
Arquivo convertido: CAGEDEST_112019.csv
Arquivo convertido: CAGEDEST_022019.csv
Arquivo convertido: CAGEDEST_022018.csv
Arquivo convertido: CAGEDEST_012019.csv
Arquivo convertido: CAGEDEST_122019.csv
Arquivo convertido: CAGEDEST_102018.csv
Arquivo convertido: CAGEDEST_092018.csv
Arquivo convertido: CAGEDEST_102019.csv
Arquivo convertido: CAGEDEST_042019.csv
Arquivo convertido: CAGEDEST_112018.csv
Arquivo convertido: CAGEDEST_072019.csv
Arquivo convertido: CAGEDEST_042018.csv
Arquivo convertido: CAGEDEST_082019.csv
Arquivo convertido: CAGEDEST_052018.csv
Arquivo convertido: CAGEDEST_012018.csv
Arquivo convertido: CAGEDEST_082018.csv
Arquivo convertido: CAGEDEST_032019.csv
Arquivo convertido: CAGEDEST_032018.csv
Arquivo convertido: CAGEDEST_092019.csv
Todos os arquivos foram convertidos para CSV.

In [40]:

# Caminho para o arquivo CSV
caminho_arquivo_csv = '/content/Dados_CSV/CAGEDEST_012018.csv'

# Leitura do arquivo CSV com separador ';' e codificao ISO-8859-1
df = pd.read_csv(caminho_arquivo_csv, sep=';', encoding='utf-8')

# Impresso das primeiras linhas do DataFrame
df.head()

<ipython-input-40-d51f5dace514>:5: DtypeWarning: Columns (32,33,34,35,36,37,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(caminho_arquivo_csv, sep=';', encoding='utf-8')

,Admitidos/Desligados,Competncia Declarada,Municpio,Ano Declarado,CBO 2002 Ocupao,CNAE 1.0 Classe,CNAE 2.0 Classe,CNAE 2.0 Subclas,Faixa Empr Incio Jan,Grau Instruo,...,Microrregio,Regio Adm RJ,Regio Adm SP,Regio Corede,Regio Corede 04,Regio Gov SP,Regio Senac PR,Regio Senai PR,Regio Senai SP,Sub-Regio Senai PR
0,2,201801,110004,2018,322415,85138,86305,8630504,2,8,...,11006,{,999,{,99,999,99,{,999,99
1,2,201801,110011,2018,411030,1414,1512,151201,1,7,...,11004,{,999,{,99,999,99,{,999,99
2,1,201801,110018,2018,142105,52442,47431,4743100,1,2,...,11007,{,999,{,99,999,99,{,999,99
3,1,201801,110029,2018,914405,50415,45412,4541205,1,7,...,11006,{,999,{,99,999,99,{,999,99
4,1,201801,110029,2018,914405,50415,45412,4541205,1,7,...,11006,{,999,{,99,999,99,{,999,99

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2491174 entries, 0 to 2491173
Data columns (total 40 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Admitidos/Desligados   int64
 1   Competncia Declarada  int64
 2   Municpio              int64
 3   Ano Declarado          int64
 4   CBO 2002 Ocupao      int64
 5   CNAE 1.0 Classe        int64
 6   CNAE 2.0 Classe        int64
 7   CNAE 2.0 Subclas       int64
 8   Faixa Empr Incio Jan  int64
 9   Grau Instruo         int64
 10  Qtd Hora Contrat       int64
 11  IBGE Subsetor          int64
 12  Idade                  int64
 13  Ind Aprendiz           int64
 14  Ind Portador Defic     int64
 15  Raa Cor               int64
 16  Salrio Mensal         object
 17  Saldo Mov              int64
 18  Sexo                   int64
 19  Tempo Emprego          object
 20  Tipo Estab             int64
 21  Tipo Defic             int64
 22  Tipo Mov Desagregado   int64
 23  UF                     int64
 24  Bairros SP             object
 25  Bairros Fortaleza      object
 26  Bairros RJ             object
 27  Distritos SP           object
 28  Regies Adm DF         int64
 29  Mesorregio            int64
 30  Microrregio           int64
 31  Regio Adm RJ          object
 32  Regio Adm SP          object
 33  Regio Corede          object
 34  Regio Corede 04       object
 35  Regio Gov SP          object
 36  Regio Senac PR        object
 37  Regio Senai PR        object
 38  Regio Senai SP        object
 39  Sub-Regio Senai PR    object
dtypes: int64(25), object(15)
memory usage: 760.2+ MB

##7.2 Filtrar por Capitais e remoo de Colunas

In [42]:
# Definir o caminho da pasta com os CSVs
caminho_pasta = '/content/Dados_CSV'

# Lista de capitais (substitua 'lista_capitais' pelas suas capitais)
capitais = {
    110004: 'Rio Branco',
    150140: 'Belm',
    310620: 'Belo Horizonte',
    140010: 'Boa Vista',
    530010: 'Braslia',
    500270: 'Campo Grande',
    510340: 'Cuiab',
    410690: 'Curitiba',
    420540: 'Florianpolis',
    230440: 'Fortaleza',
    520870: 'Goinia',
    250750: 'Joo Pessoa',
    160030: 'Macap',
    270430: 'Macei',
    130260: 'Manaus',
    240810: 'Natal',
    172100: 'Palmas',
    431490: 'Porto Alegre',
    110020: 'Porto Velho',
    261160: 'Recife',
    120040: 'Rio Branco',
    330455: 'Rio de Janeiro',
    292740: 'Salvador',
    211130: 'So Lus',
    355030: 'So Paulo',
    221100: 'Teresina',
    320530: 'Vitria'
}
# Colunas indesejadas
colunas_indesejadas = [
    'Bairros SP', 'Bairros Fortaleza', 'Bairros RJ', 'Distritos SP',
    'Regies Adm DF', 'Mesorregio', 'Microrregio', 'Regio Adm RJ',
    'Regio Adm SP', 'Regio Corede', 'Regio Corede 04', 'Regio Gov SP',
    'Regio Senac PR', 'Regio Senai PR', 'Regio Senai SP', 'Sub-Regio Senai PR',
    'Ind Trab Parcial', 'Ind Trab Intermitente'
]

In [43]:

# Iterar pelos arquivos na pasta
for arquivo in os.listdir(caminho_pasta):
    if arquivo.endswith('.csv'):
        # Carregar o CSV
        df = pd.read_csv(os.path.join(caminho_pasta, arquivo), sep = ';' , encoding = 'utf-8')

        # Filtrar o DataFrame para incluir apenas as capitais
        df_capitais = df[df['Municpio'].isin(capitais.keys())]

        # Remover as colunas indesejadas e todas as colunas a partir da numerao 25
        colunas_a_remover = list(df_capitais.columns[24:])
        df_capitais = df_capitais.drop(columns=colunas_a_remover, errors='ignore')

        # Salvar o DataFrame filtrado no mesmo arquivo CSV (substituindo o original)
        df_capitais.to_csv(os.path.join(caminho_pasta, arquivo), index=False)

print('Processamento concludo.')

<ipython-input-43-db2dbe58f84a>:5: DtypeWarning: Columns (32,33,34,35,36,37,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(caminho_pasta, arquivo), sep = ';' , encoding = 'utf-8')
<ipython-input-43-db2dbe58f84a>:5: DtypeWarning: Columns (32,33,34,35,36,37,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(caminho_pasta, arquivo), sep = ';' , encoding = 'utf-8')
<ipython-input-43-db2dbe58f84a>:5: DtypeWarning: Columns (32,33,34,35,36,37,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(caminho_pasta, arquivo), sep = ';' , encoding = 'utf-8')
<ipython-input-43-db2dbe58f84a>:5: DtypeWarning: Columns (32,33,34,35,36,37,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(caminho_pasta, arquivo), sep = ';' , encoding = 'utf-8')
<ipython-input-43-db2dbe58f84a>:5: DtypeWarning: Columns (32,33,34,35,36,37,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(caminho_pasta, arquivo), sep = ';' , encoding = 'utf-8')
<ipython-input-43-db2dbe58f84a>:5: DtypeWarning: Columns (32,33,34,35,36,37,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(caminho_pasta, arquivo), sep = ';' , encoding = 'utf-8')
<ipython-input-43-db2dbe58f84a>:5: DtypeWarning: Columns (32,33,34,35,36,37,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(caminho_pasta, arquivo), sep = ';' , encoding = 'utf-8')
<ipython-input-43-db2dbe58f84a>:5: DtypeWarning: Columns (9,32,33,34,35,36,37,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(caminho_pasta, arquivo), sep = ';' , encoding = 'utf-8')
<ipython-input-43-db2dbe58f84a>:5: DtypeWarning: Columns (32,33,34,35,36,37,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(caminho_pasta, arquivo), sep = ';' , encoding = 'utf-8')
<ipython-input-43-db2dbe58f84a>:5: DtypeWarning: Columns (32,33,34,35,36,37,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(caminho_pasta, arquivo), sep = ';' , encoding = 'utf-8')
<ipython-input-43-db2dbe58f84a>:5: DtypeWarning: Columns (32,33,34,35,36,37,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(caminho_pasta, arquivo), sep = ';' , encoding = 'utf-8')
<ipython-input-43-db2dbe58f84a>:5: DtypeWarning: Columns (32,33,34,35,36,37,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(caminho_pasta, arquivo), sep = ';' , encoding = 'utf-8')
<ipython-input-43-db2dbe58f84a>:5: DtypeWarning: Columns (32,33,34,35,36,37,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(caminho_pasta, arquivo), sep = ';' , encoding = 'utf-8')
<ipython-input-43-db2dbe58f84a>:5: DtypeWarning: Columns (32,33,34,35,36,37,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(caminho_pasta, arquivo), sep = ';' , encoding = 'utf-8')
<ipython-input-43-db2dbe58f84a>:5: DtypeWarning: Columns (32,33,34,35,36,37,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(caminho_pasta, arquivo), sep = ';' , encoding = 'utf-8')
<ipython-input-43-db2dbe58f84a>:5: DtypeWarning: Columns (32,33,34,35,36,37,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(caminho_pasta, arquivo), sep = ';' , encoding = 'utf-8')
<ipython-input-43-db2dbe58f84a>:5: DtypeWarning: Columns (32,33,34,35,36,37,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(caminho_pasta, arquivo), sep = ';' , encoding = 'utf-8')
<ipython-input-43-db2dbe58f84a>:5: DtypeWarning: Columns (32,33,34,35,36,37,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(caminho_pasta, arquivo), sep = ';' , encoding = 'utf-8')
<ipython-input-43-db2dbe58f84a>:5: DtypeWarning: Columns (32,33,34,35,36,37,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(caminho_pasta, arquivo), sep = ';' , encoding = 'utf-8')
<ipython-input-43-db2dbe58f84a>:5: DtypeWarning: Columns (32,33,34,35,36,37,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(caminho_pasta, arquivo), sep = ';' , encoding = 'utf-8')
<ipython-input-43-db2dbe58f84a>:5: DtypeWarning: Columns (32,34,35,36,37,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(caminho_pasta, arquivo), sep = ';' , encoding = 'utf-8')
<ipython-input-43-db2dbe58f84a>:5: DtypeWarning: Columns (32,33,34,35,36,37,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(caminho_pasta, arquivo), sep = ';' , encoding = 'utf-8')
<ipython-input-43-db2dbe58f84a>:5: DtypeWarning: Columns (32,33,34,35,36,37,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(caminho_pasta, arquivo), sep = ';' , encoding = 'utf-8')
<ipython-input-43-db2dbe58f84a>:5: DtypeWarning: Columns (32,33,34,35,36,37,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(caminho_pasta, arquivo), sep = ';' , encoding = 'utf-8')

Processamento concludo.

In [49]:
# Caminho para o arquivo CSV
caminho_arquivo_csv = '/content/Dados_CSV/CAGEDEST_012018.csv'

# Leitura do arquivo CSV com separador ';' e codificao ISO-8859-1
df = pd.read_csv(caminho_arquivo_csv, sep=',')

# Impresso das primeiras linhas do DataFrame
df.head()

,Admitidos/Desligados,Competncia Declarada,Municpio,Ano Declarado,CBO 2002 Ocupao,CNAE 1.0 Classe,CNAE 2.0 Classe,CNAE 2.0 Subclas,Faixa Empr Incio Jan,Grau Instruo,...,Ind Portador Defic,Raa Cor,Salrio Mensal,Saldo Mov,Sexo,Tempo Emprego,Tipo Estab,Tipo Defic,Tipo Mov Desagregado,UF
0,2,201801,110004,2018,322415,85138,86305,8630504,2,8,...,0,2,"000520,00",-1,2,"0005,0",1,0,6,11
1,1,201801,110004,2018,514320,52493,47890,4789004,1,7,...,0,4,"001085,00",1,2,"0000,0",1,0,2,11
2,1,201801,110020,2018,623110,1414,1512,151201,1,4,...,0,9,"001650,00",1,1,"0000,0",3,0,1,11
3,1,201801,110020,2018,411005,63126,52117,5211799,1,8,...,0,2,"002156,00",1,1,"0000,0",1,0,2,11
4,1,201801,110020,2018,717020,52442,47423,4742300,1,7,...,0,2,"001153,00",1,1,"0000,0",1,0,1,11

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 843996 entries, 0 to 843995
Data columns (total 24 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Admitidos/Desligados   843996 non-null  int64
 1   Competncia Declarada  843996 non-null  int64
 2   Municpio              843996 non-null  int64
 3   Ano Declarado          843996 non-null  int64
 4   CBO 2002 Ocupao      843996 non-null  int64
 5   CNAE 1.0 Classe        843996 non-null  int64
 6   CNAE 2.0 Classe        843996 non-null  int64
 7   CNAE 2.0 Subclas       843996 non-null  int64
 8   Faixa Empr Incio Jan  843996 non-null  int64
 9   Grau Instruo         843996 non-null  int64
 10  Qtd Hora Contrat       843996 non-null  int64
 11  IBGE Subsetor          843996 non-null  int64
 12  Idade                  843996 non-null  int64
 13  Ind Aprendiz           843996 non-null  int64
 14  Ind Portador Defic     843996 non-null  int64
 15  Raa Cor               843996 non-null  int64
 16  Salrio Mensal         843996 non-null  object
 17  Saldo Mov              843996 non-null  int64
 18  Sexo                   843996 non-null  int64
 19  Tempo Emprego          843996 non-null  object
 20  Tipo Estab             843996 non-null  int64
 21  Tipo Defic             843996 non-null  int64
 22  Tipo Mov Desagregado   843996 non-null  int64
 23  UF                     843996 non-null  int64
dtypes: int64(22), object(2)
memory usage: 154.5+ MB

##7.2 Concatenar arquivos CSV da CAGED

In [2]:

# Diretrio onde esto os arquivos CSV
csv_dir = '/content/Dados_CSV'  # Mude para o caminho onde seus CSVs esto armazenados

# Encontra todos os arquivos CSV no diretrio
csv_files = glob.glob(os.path.join(csv_dir, '*.csv'))

# Lista para armazenar os DataFrames
dataframes = []

In [3]:
# Percorre todos os arquivos CSV encontrados
for file in csv_files:
    print(f"Lendo o arquivo: {file}")
    df = pd.read_csv(file, sep=',', encoding='utf-8')

    dataframes.append(df)

# Combina todos os DataFrames, alinhando as colunas por nome
print("Combinando todos os DataFrames...")
combined_df = pd.concat(dataframes, ignore_index=True, sort=False)

# Salva o DataFrame combinado em um novo arquivo CSV
output_file = '/content/combined_data.csv'
print(f"Salvando o DataFrame combinado no arquivo: {output_file}")
combined_df.to_csv(output_file, index=False, sep=';', encoding='utf-8')

print("Processamento concludo.")

Lendo o arquivo: /content/Dados_CSV/CAGEDEST_022019.csv
Lendo o arquivo: /content/Dados_CSV/CAGEDEST_092018.csv
Lendo o arquivo: /content/Dados_CSV/CAGEDEST_112018.csv
Lendo o arquivo: /content/Dados_CSV/CAGEDEST_052018.csv
Lendo o arquivo: /content/Dados_CSV/CAGEDEST_032018.csv
Lendo o arquivo: /content/Dados_CSV/CAGEDEST_032019.csv
Lendo o arquivo: /content/Dados_CSV/CAGEDEST_052019.csv
Lendo o arquivo: /content/Dados_CSV/CAGEDEST_062019.csv

<ipython-input-3-3657630f166f>:4: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, sep=',', encoding='utf-8')

Lendo o arquivo: /content/Dados_CSV/CAGEDEST_072019.csv
Lendo o arquivo: /content/Dados_CSV/CAGEDEST_022018.csv
Lendo o arquivo: /content/Dados_CSV/CAGEDEST_012018.csv
Lendo o arquivo: /content/Dados_CSV/CAGEDEST_092019.csv
Lendo o arquivo: /content/Dados_CSV/CAGEDEST_082018.csv
Lendo o arquivo: /content/Dados_CSV/CAGEDEST_122018.csv
Lendo o arquivo: /content/Dados_CSV/CAGEDEST_062018.csv
Lendo o arquivo: /content/Dados_CSV/CAGEDEST_102019.csv
Lendo o arquivo: /content/Dados_CSV/CAGEDEST_072018.csv
Lendo o arquivo: /content/Dados_CSV/CAGEDEST_042018.csv
Lendo o arquivo: /content/Dados_CSV/CAGEDEST_012019.csv
Lendo o arquivo: /content/Dados_CSV/CAGEDEST_112019.csv
Lendo o arquivo: /content/Dados_CSV/CAGEDEST_082019.csv
Lendo o arquivo: /content/Dados_CSV/CAGEDEST_122019.csv
Lendo o arquivo: /content/Dados_CSV/CAGEDEST_042019.csv
Lendo o arquivo: /content/Dados_CSV/CAGEDEST_102018.csv
Combinando todos os DataFrames...
Salvando o DataFrame combinado no arquivo: /content/combined_data.csv
Processamento concludo.

In [4]:
combined_df.head()

,Admitidos/Desligados,Competncia Declarada,Municpio,Ano Declarado,CBO 2002 Ocupao,CNAE 1.0 Classe,CNAE 2.0 Classe,CNAE 2.0 Subclas,Faixa Empr Incio Jan,Grau Instruo,...,Ind Portador Defic,Raa Cor,Salrio Mensal,Saldo Mov,Sexo,Tempo Emprego,Tipo Estab,Tipo Defic,Tipo Mov Desagregado,UF
0,1,201902,510340,2019,623115,1414,1512,151202,4,6,...,0,9,"001200,00",1,1,"0000,0",3,0,1,51
1,1,201902,510340,2019,622020,1414,1512,151201,6,6,...,0,8,"001150,00",1,1,"0000,0",1,0,1,51
2,1,201902,510340,2019,622020,5126,3221,322101,3,7,...,0,2,"001207,00",1,2,"0000,0",1,0,1,51
3,1,201902,510340,2019,411005,14214,8916,891600,3,6,...,0,8,"000000,00",1,1,"0000,0",1,0,1,51
4,1,201902,510340,2019,724440,27413,24415,2441502,5,7,...,0,8,"001040,00",1,1,"0000,0",1,0,1,51

In [5]:
combined_df.shape

(20517761, 24)

In [6]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20517761 entries, 0 to 20517760
Data columns (total 24 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Admitidos/Desligados   int64
 1   Competncia Declarada  int64
 2   Municpio              int64
 3   Ano Declarado          int64
 4   CBO 2002 Ocupao      int64
 5   CNAE 1.0 Classe        int64
 6   CNAE 2.0 Classe        int64
 7   CNAE 2.0 Subclas       int64
 8   Faixa Empr Incio Jan  int64
 9   Grau Instruo         object
 10  Qtd Hora Contrat       int64
 11  IBGE Subsetor          int64
 12  Idade                  int64
 13  Ind Aprendiz           int64
 14  Ind Portador Defic     int64
 15  Raa Cor               int64
 16  Salrio Mensal         object
 17  Saldo Mov              int64
 18  Sexo                   int64
 19  Tempo Emprego          object
 20  Tipo Estab             int64
 21  Tipo Defic             int64
 22  Tipo Mov Desagregado   int64
 23  UF                     int64
dtypes: int64(21), object(3)
memory usage: 3.7+ GB

##7.3 Verificar Valores Nulos

In [7]:

# Verificar se existem valores nulos ou ausentes no DataFrame das capitais
valores_nulos = combined_df.isnull().sum()

# Mostrar os valores nulos encontrados
print("Valores nulos por coluna:")
print(valores_nulos)

# Verificar se h algum valor nulo em todo o DataFrame
if combined_df.isnull().values.any():
    print("\nExistem valores nulos ou ausentes no DataFrame das capitais.")
else:
    print("\nNo existem valores nulos ou ausentes no DataFrame das capitais.")

Valores nulos por coluna:
Admitidos/Desligados     0
Competncia Declarada    0
Municpio                0
Ano Declarado            0
CBO 2002 Ocupao        0
CNAE 1.0 Classe          0
CNAE 2.0 Classe          0
CNAE 2.0 Subclas         0
Faixa Empr Incio Jan    0
Grau Instruo           0
Qtd Hora Contrat         0
IBGE Subsetor            0
Idade                    0
Ind Aprendiz             0
Ind Portador Defic       0
Raa Cor                 0
Salrio Mensal           0
Saldo Mov                0
Sexo                     0
Tempo Emprego            0
Tipo Estab               0
Tipo Defic               0
Tipo Mov Desagregado     0
UF                       0
dtype: int64

No existem valores nulos ou ausentes no DataFrame das capitais.

#8 - Exportar dataframe